<!DOCTYPE html>
<html>
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
      <title>Spring Boot WebSocket Chat </title>
      <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>

    <div id="username-page">
        <div class="username-page-container">
            <h1 class="title">Type your username</h1>
            <form id="usernameForm" name="usernameForm">
                <div class="form-group">
                    <input type="content" id="name" placeholder="Username" autocomplete="off" class="form-control" />
                </div>
                <div class="form-group">
                    <button type="submit" class="accent username-submit">Start</button>
                </div>
            </form>
        </div>
    </div>

    <div id="chat-page" class="hidden">
        <div class="chat-header">
            <h2>Spring WebSocket Chat Demo</h2>
        </div>

            <div class="connecting">
                Connecting...
            </div>
        <!--<div class="row">
            <div class="col-xs-4">
                <h4>Participants [{{participants.length}}]</h4>
                <div class="share">
                    <ul ng-repeat="participant in participants">
                        <li>
                            <a href="" ng-click="privateSending(participant.username)">{{participant.username}}</a>

                        </li>
                    </ul>
                </div>
            </div>
           &lt;!&ndash; <div class="col-xs-8 chat-box">
                <h4>Messages</h4>
                <div ng-repeat="message in messages">
                    <small print-message></small>
                </div>
            </div>&ndash;&gt;
        </div>-->
        <div class="chat-container">

        <ul id="messageArea">

            </ul>
            <form id="messageForm" name="messageForm" nameForm="messageForm">
                <div class="form-group">
                    <div class="input-group clearfix">
                        <input type="content" id="message" placeholder="Type a message..." autocomplete="off" class="form-control"/>
                        <button type="submit" class="primary">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>